@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300&family=Rubik&display=swap');
body {
    background-color: black;
    /*height: 250vmax;*/
    margin: 0rem;
    overflow: hidden;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}
@keyframes backforth {
    from {
        fill: rgb(218, 95, 95);
        rotate: 0deg;
    }
    12.5%{
        fill: orange;
        rotate: 90deg;
    }
    25%{
        fill: yellow;
        rotate: 0deg;
    }
    37.5%{
        fill: limegreen;
        rotate: -90deg;
    }
    50%{
        fill: skyblue;
        rotate: 0deg;
    }
    62.5%{
        fill: rgb(135, 0, 231);
        rotate: 90deg;
    }
    75%{
        fill: rgb(188, 130, 238);
        rotate: 0deg;
    }
    87.5%{
        fill: rgb(244, 90, 192);
        rotate: -90deg;
    }
    to {
        fill: rgb(218, 95, 95);
        rotate: 0deg;
    }
}
@keyframes upDown{
    from{
        fill: rgb(218, 95, 95);
        translate: 0px, 0px;
    }
    12.5% {
        fill: orange;
    }
    25%{
        fill: yellow;
    }
    37.5%{
        fill: limegreen;
    }
    50%{
        fill: skyblue;
        transform: translate(0px, 2.5vmax);
    }
    62.5%{
        fill: rgb(135, 0, 231);
    }
    75%{
        fill: rgb(188, 130, 238);
    }
    87.5%{
        fill: rgb(244, 90, 192);
    }
    to{
        fill: rgb(218, 95, 95);
        translate: 0px, 0px;
    }
}
@keyframes leftright{
    from{
        fill: rgb(218, 95, 95);
        translate: 0px, 0px;
        rotate: -90deg;
    }
    12.5% {
        fill: orange;
        rotate: -90deg;
    }
    25%{
        fill: yellow;
        rotate: -90deg;
    }
    37.5%{
        rotate: -90deg;
        fill: limegreen;
    }
    50%{
        fill: skyblue;
        transform: translate(2.5vmax, 0px);
        rotate: -90deg;
    }
    62.5%{
        fill: rgb(135, 0, 231);
        rotate: -90deg;
    }
    75%{
        fill: rgb(188, 130, 238);
        rotate: -90deg;
    }
    87.5%{
        fill: rgb(244, 90, 192);
        rotate: -90deg;
    }
    to{
        fill: rgb(218, 95, 95);
        translate: 0px, 0px;
        rotate: -90deg;
    }
}
@keyframes rgb{
    from{
        color: rgb(218, 95, 95);
    }
    12.5%{
        color: orange;
    }
    25%{
        color: yellow;
    }
    37.5%{
        color: limegreen;
    }
    50%{
        color: skyblue;
    }
    62.5%{
        color: rgb(135, 0, 231);
    }
    75%{
        color: rgb(188, 130, 238);
    }
    87.5%{
        color: rgb(244, 90, 192);
    }
    100%{
        color: rgb(218, 95, 95);
    }
}
@keyframes idle{
    from{
        fill: black;
    }
    50%{
        fill: rgb(160, 190, 220);
    }
}
blob {
    background-color: white;
    position: absolute;
    height: 30vmax;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    aspect-ratio: 1;
    border-radius: 100%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 30s infinite;
    opacity: 0.8;
    filter: blur(12vmax);
}
#content{
    position: absolute;
    z-index: 3;
    font-family: 'Rubik', monospace;
    color: white;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    margin: 0rem;
}
h1{
    font-size: 10dvh;
    text-align: center;
}
fancy{
    font-family: 'Lobster';
}
fancy:hover{
    animation: rgb 5s infinite;
}
#goDown{
    background-color:transparent;
    border-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    height: 10vmax;
    width: 10vmax;
    left: 50%;
    top: 50%;
    translate: 75%;
    animation: idle 10s infinite;

}
#goDown:hover{
    animation: backforth 5s infinite;
}
#goDown.mouseright:active{
    animation: leftright 2.5s infinite;
    cursor: url('cursorhold.png') 2 2, pointer;
}
#goDown.mousedown:active{
    animation: upDown 2.5s infinite;
    cursor: url('cursorhold.png') 2 2, pointer;
}
.seperator{
    height: 1vmax;
    width: 0.1vmax;
    margin-left: 2vmax;
    margin-right: 2vmax;
    fill:rgb(160, 190, 220)
}